@import "tailwindcss";

@theme {
  /* ================================
     Fonts
  ================================= */

  --font-inter: "Inter", sans-serif;
  --font-edu-sa: "Edu SA Beginner", cursive;
  --font-mono: "Roboto Mono", monospace;


  /* ================================
     Basic Colors
  ================================= */

  --color-white: #fff;
  --color-black: #000;
  --color-transparent: #ffffff00;


  /* ================================
     Rich Black
  ================================= */

  --color-richblack-5: #F1F2FF;
  --color-richblack-25: #DBDDEA;
  --color-richblack-50: #C5C7D4;
  --color-richblack-100: #AFB2BF;
  --color-richblack-200: #999DAA;
  --color-richblack-300: #838894;
  --color-richblack-400: #6E727F;
  --color-richblack-500: #585D69;
  --color-richblack-600: #424854;
  --color-richblack-700: #2C333F;
  --color-richblack-800: #161D29;
  --color-richblack-900: #000814;


  /* ================================
     Rich Blue
  ================================= */

  --color-richblue-5: #ECF5FF;
  --color-richblue-25: #C6D6E1;
  --color-richblue-50: #A0B7C3;
  --color-richblue-100: #7A98A6;
  --color-richblue-200: #537988;
  --color-richblue-300: #2D5A6A;
  --color-richblue-400: #073B4C;
  --color-richblue-500: #063544;
  --color-richblue-600: #042E3B;
  --color-richblue-700: #032833;
  --color-richblue-800: #01212A;
  --color-richblue-900: #001B22;


  /* ================================
     Blue
  ================================= */

  --color-blue-5: #EAF5FF;
  --color-blue-25: #B4DAEC;
  --color-blue-50: #7EC0D9;
  --color-blue-100: #47A5C5;
  --color-blue-200: #118AB2;
  --color-blue-300: #0F7A9D;
  --color-blue-400: #0C6A87;
  --color-blue-500: #0A5A72;
  --color-blue-600: #074B5D;
  --color-blue-700: #053B48;
  --color-blue-800: #022B32;
  --color-blue-900: #001B1D;


  /* ================================
     Caribbean Green
  ================================= */

  --color-caribbeangreen-5: #C1FFFD;
  --color-caribbeangreen-25: #83F1DE;
  --color-caribbeangreen-50: #44E4BF;
  --color-caribbeangreen-100: #06D6A0;
  --color-caribbeangreen-200: #05BF8E;
  --color-caribbeangreen-300: #05A77B;
  --color-caribbeangreen-400: #049069;
  --color-caribbeangreen-500: #037957;
  --color-caribbeangreen-600: #026144;
  --color-caribbeangreen-700: #014A32;
  --color-caribbeangreen-800: #01321F;
  --color-caribbeangreen-900: #001B0D;


  /* ================================
     Brown
  ================================= */

  --color-brown-5: #FFF4C4;
  --color-brown-25: #FFE395;
  --color-brown-50: #FFD166;
  --color-brown-100: #E7BC5B;
  --color-brown-200: #CFA64F;
  --color-brown-300: #B89144;
  --color-brown-400: #A07C39;
  --color-brown-500: #88662D;
  --color-brown-600: #705122;
  --color-brown-700: #593C17;
  --color-brown-800: #41260B;
  --color-brown-900: #291100;


  /* ================================
     Pink
  ================================= */

  --color-pink-5: #FFF1F1;
  --color-pink-25: #FBC7D1;
  --color-pink-50: #F79CB0;
  --color-pink-100: #F37290;
  --color-pink-200: #EF476F;
  --color-pink-300: #D43D63;
  --color-pink-400: #BA3356;
  --color-pink-500: #9F294A;
  --color-pink-600: #841E3E;
  --color-pink-700: #691432;
  --color-pink-800: #4F0A25;
  --color-pink-900: #340019;


  /* ================================
     Yellow
  ================================= */

  --color-yellow-5: #FFF970;
  --color-yellow-25: #FFE83D;
  --color-yellow-50: #FFD60A;
  --color-yellow-100: #E7C009;
  --color-yellow-200: #CFAB08;
  --color-yellow-300: #B69507;
  --color-yellow-400: #9E8006;
  --color-yellow-500: #866A04;
  --color-yellow-600: #6E5503;
  --color-yellow-700: #553F02;
  --color-yellow-800: #3D2A01;
  --color-yellow-900: #251400;


  /* ================================
     Pure Greys
  ================================= */

  --color-pure-greys-5: #F9F9F9;
  --color-pure-greys-25: #E2E2E2;
  --color-pure-greys-50: #CCCCCC;
  --color-pure-greys-100: #B5B5B5;
  --color-pure-greys-200: #9E9E9E;
  --color-pure-greys-300: #888888;
  --color-pure-greys-400: #717171;
  --color-pure-greys-500: #5B5B5B;
  --color-pure-greys-600: #444444;
  --color-pure-greys-700: #2D2D2D;
  --color-pure-greys-800: #171717;
  --color-pure-greys-900: #141414;


  /* ================================
     Max Width
  ================================= */

  --container-maxContent: 1260px;
  --container-maxContentTab: 650px;


  /* ================================
     Box Shadows
  ================================= */

  --shadow-custom1: 20px 20px rgba(255, 255, 255, 0.25);
  --shadow-custom2: 5px -10px 50px 5px rgb(0 0 0 / 0.5);
}

::-webkit-scrollbar {
   /* Customize the scrollbar width */
   width: 3px;
}

::-webkit-scrollbar-track {
   /* Customize the scrollbar track */
   background-color: #000814;
}

::-webkit-scrollbar-thumb {
   /* Customize the scrollbar thumb */
   background-color: #999DAA;
   border-radius: 5px;
}